[Unit]
Description=Install Modello applications
Before=Modello_Homescreen.service
After=tmp.mount

[Service]
Type=oneshot
SmackExecLabel=User
ExecStart=/usr/share/modello-installer/modello-installer-postinst.sh

[Install]
WantedBy=multi-user.target
